
<div class="container">
    <div class="card">
        <h3 class="text-centre">  employees list</h3>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>salary</th>
                    <th>permanent</th>
                    <th>department</th>
                    <th>skills</th>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees">
                        <td>{{emp.id}} </td>
                        <td>{{emp.name}} </td>
                        <td>{{emp.salary}} </td>
                        <td>{{emp.permanent}} </td>
                        <td>
                            <table>
                               <tr>
                                   <!--<tr>
                                       <td>hi</td>
                                       <td>hello</td>
                                   -->
                                       
                                    <td>{{emp.department.id}} </td>
                                    <td>{{emp.department.name}} </td>
                                    
                                </tr>
                            </table>
                                
                        </td>
                        <td>
                            <table>
                               <tr *ngFor= "let s of emp.skills">
                                   <td>{{s.id}}</td>
                                   <td>{{s.name}}</td>          
                                   <!--                        
                                   <td *ngFor= "let s of emp.skills">{{s.id}} </td>
                                   <td *ngFor ="let s of emp.skills">{{s.name}} </td>
                               -->
                                </tr>
                            </table>
                                
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>